@using Graphs
<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1" style="width: 80vw; height: 80vh;">
            <DiagramDisplay Graph="Graph"></DiagramDisplay>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public InternalGraph Graph { get; set; } = null!;
    
    private void Close() => MudDialog.Close(DialogResult.Ok(true));
}